<template name="main">
<head>
  <title>Typing Master</title>
</head>

<body>
  <header>
    <h1>Typing Master!</h1>
    <div id="header-container">
      <img src="images/typing-master-logo.png" id="logo" />
      <nav>
        <ul>
          <li id="sign-in">
            {{> loginButtons}}
          </li>
          <li id="add-text">
            <a href="/addDocument">Add text</a>
          </li>
          <li id="practice">
            <a href="/">Practice</a>
          </li>
          <li id="join-a-game">
            <a href="/rooms">Join a game</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="content">
    {{> yield}}
  </div>
</body>
</template>
